PORT=3000
CF_ENV=sandbox
CF_BASE_URL=https://sandbox.cashfree.com/pg
CF_ENVIRONMENT=https://sandbox.cashfree.com/pg
CF_CLIENT_ID=your_cashfree_client_id
CF_CLIENT_SECRET=your_cashfree_client_secret
CF_API_VERSION=2023-08-01
WEBHOOK_SECRET=unused_kept_for_reference
WEBHOOK_SIGNATURE_HEADER=x-webhook-signature
MERCHANT_VPA=merchant@upi
MERCHANT_NAME=Merchant
